html, body {
  /* margin: 0px; */
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color:rgb(0, 0, 0);
  background-attachment: fixed;
  background-color: black;
  color:white;
}

#header {
  top: 0%;
}

div.banner{
  background-color: rgba(118, 231, 178, 0.37);
  position: absolute;
  width: 100%;
  font-size: large;
}

#banner a:link { color: #d5ffe3; }
#banner a:visited { color: #d5ffe3; }
#banner a:hover { color: #70DB93; }
#banner a:active { color: #db709d; }

#outerbottom {
  /* top: 90%; */
  position: fixed;
  margin-top:60%;
}

/* For website headers */
h1 {
  display: inline;
  font-style: justify;
  color: rgb(130, 76, 185);
  font-size: 5vw;
  letter-spacing: 2vw;
}

/* For website subheaders */
h2 {
  display: inline;
  font-style: justify;
  color: rgba(181, 139, 185, 0.81);
  letter-spacing: 2vw;
  font-size: 3vw;
}

.btn.btn-default{
  background-color: rgb(113, 135, 190) !important;
}

.btn.btn-default.active{
  background-color: rgb(144, 200, 238) !important;
}

hr{
  border:1px solid grey;
}

div {
  border: none;
  border-color: black;
}

/* keep images and text align */
div.row{
  border-color: greenyellow;
}

div.row_container{
  border-color: aqua;
}

div.container{
  border-color: saddlebrown;
}

div.col-sm-12{
  border-color:bisque;
}

div.head {
  /*header area on top with responsive height*/
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 10vw;
  max-height: 120px;
  width: 100%;
  border-color: green;
  /*background-color:red*/
  /*border:dotted;*/
}

/* ? */
div.col-sm-4 {
  /* overflow: auto; */
  /* display:inline-block; */
  border-color: red;
  /* float: none; */
  /* margin: 0 auto; */
  /* margin:0px; */
  padding: 0px;
  /* height:300px; */
  /*width and height of the column scale from 300px to 200px*/
}

/* image columns */
div.col-sm-4 img {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 300px;
  /* width: 30vw; */
  /* min-width: 200px; */
  max-height: 300px;
  /* height: 30vw; */
  /* min-height: 200px; */
  /* height:100%; */
  /* position: absolute; */
  /*z-index: -1;*/
}

div.col-sm-4 img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.imageTitle { /* for use of titles spanning over images*/
  position: absolute;
  vertical-align: middle;
  text-align: center;
  top: 45%;
  font-size: 28px;
  letter-spacing: 0.75vw;
  color: rgb(76, 185, 185);
  /* max-width: 300px; */
  width: 100%;
  /* min-width: 200px; */
}

div.textTitle { /* for use is title as a header over text column */
  text-align:center;
  /* font-size:28px; */
  /* letter-spacing:0.75vw; */
  color: rgb(91, 76, 185);
  width: 100%;
}

div.upcoming { /* for use is title as a header over text column */
  text-align:center;
  font-size:28px;
  letter-spacing:0.75vw;
  color: rgb(185, 76, 76);
  width: 100%;
}

div.text {
  border-color: blue;
  text-align:left;
  /* vertical-align: middle; */
  margin-top: 20px;
  font-size: small;
}

.imageTitle span {
  background-color: white;
}

#innerbottom {
  display: table;
  margin: 0 auto;
}

#outerbottom {
  /* position:fixed; */
  position: static;
  margin: 30px;
  bottom:30%;
  width: 100%;
}
